@page
@model WebApplication3.Pages.OrdersModel
@{
}

<form method="get">
    <input placeholder="Search" asp-for="@Model.SearchString" />
    <input type="submit" value="Search" />
</form>

<table>
    <tr>
        <th>
            Id <a asp-route-searchString="@Model.SearchString" asp-page="/Orders" asp-route-col="id" asp-route-order="asc"> <i class='bx bx-sort-a-z'></i></a> 
            <a asp-route-searchString="@Model.SearchString" asp-page="/Orders" asp-route-col="id" asp-route-order="desc"> <i class='bx bx-sort-z-a' ></i></a>
        </th>
        <th>
            Customer <a asp-route-searchString="@Model.SearchString" asp-page="/Orders" asp-route-col="customer" asp-route-order="asc"> <i class='bx bx-sort-a-z'></i></a> 
            <a asp-route-searchString="@Model.SearchString" asp-page="/Orders" asp-route-col="customer" asp-route-order="desc"> <i class='bx bx-sort-z-a' ></i></a>
        </th>
        <th>
            Date <a asp-route-searchString="@Model.SearchString" asp-page="/Orders" asp-route-col="datetime" asp-route-order="asc"> <i class='bx bx-sort-a-z'></i></a> 
            <a asp-route-searchString="@Model.SearchString" asp-page="/Orders" asp-route-col="datetime" asp-route-order="desc"> <i class='bx bx-sort-z-a' ></i></a>
        </th>
    </tr>
@foreach(var order in Model.Orders){
    <tr>
        <td><a asp-page="/OrderInfo" asp-route-id="@order.Id">@order.Id</a></td>
        <td>@order.CustomerName</td>
        <td>@order.DateTime</td>
    </tr>
}

<tr>
    <td>
        @if (@Model.PageNo > 1)
        {
            <a asp-page="/Orders" asp-route-search="@Model.SearchString" asp-route-pageno="@(Model.PageNo-1)">Prev</a>
        }
    </td>
    <td></td>
    <td><a asp-page="/Orders" asp-route-searchString="@Model.SearchString" asp-route-pageno="@(Model.PageNo+1)">Next</a></td>
</tr>
</table>